<!DOCTYPE HTML>
<html>
	<head>
		<title>ETS Challenge 2018</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="javascripts/chart.js/dist/Chart.js"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">
				<canvas id="myChart" width="200" height="80"></canvas>
			</div>

		<!-- Scripts -->


	</body>
<script type="text/javascript">
$(document).ready(function() {
    $.ajax({
        type: "GET",
        url: "/data/ETS Development Challenge 2018.csv",
        dataType: "text",
        success: function(data) {processData(data);}
     });
});

function processData(allText) {
	data = csvJSON(allText);
	dataJson = JSON.parse(data);
	fields = [];
	var data1 = dataJson[1];
	fields = Object.keys(data1);
	dataJsonDraw = [];
	dataJsonDraw = jQuery.extend(true, {}, dataJson)
	newid = 1
	for(var i in dataJsonDraw){
	dataJsonDraw[newid-1]["id"] = newid
	newid++;
	}
	doChart();
}
function csvJSON(csv){

  var lines=csv.split("\n");

  var result = [];

  var headers=lines[0].split(",");

  for(var i=1;i<lines.length;i++){

	  var obj = {};
	  var currentline=lines[i].split(",");

	  for(var j=0;j<headers.length;j++){
		  obj[headers[j]] = currentline[j];
	  }

	  result.push(obj);

  }
   return JSON.stringify(result); //JSON
}

function doChart(){
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
 type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
}
</script>
</html>